.banner {
    background: rgba(200, 200, 200, 0.8);
    max-height: 200px;
}


.imgg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

.rowflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.columnflex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.sideNavItems:hover {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.prefradio {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px!important;
    border-radius: 10px;
    font-size: 20px;
}

.labelcard {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}

fieldset {
    border: 1px solid black !important;
    margin: 0px;
    min-width: 0;
    padding: 20px!important;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h1,.h2,.h3,.h4,.h5,.h6,.h7,.h8,.h9{
    font-size: 1rem!important;
    font-weight: bold!important;
}
